:root{
    --blue: rgb(91, 155, 213);
    --red: rgb(225, 107, 107);
    --yellow: rgb(255, 192, 0);
    --green: rgb(49, 164, 117);
    --blues: rgb(91, 209, 209);
    --grey: rgb(110, 125, 130);
    --brown: rgb(197, 90, 17);
    }